* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: Lato;
    height: 782px;
    width: 100%;
    position: relative;
    background-image: url("img-icon/CLOUDBUDGET.png");
    display: -webkit-flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 59px 121px;
}

a {
    text-decoration: none;
}

.logo {
    cursor: pointer;
}

.nav-area {
    list-syle: none;

}

.nav-area li {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}

.nav-area li a {
    color: white;
    transition: 0.3s;
}

.nav-area li a:hover {
    color: cadetblue;
}

.btn-area {
    margin: -12px -20px;
    font-family: Lato;
    cursor: pointer;
    font-size: 16px;
    color: white;
    border: 1px solid #FFFFFF;
    border-radius: 6px;

    box-sizing: border-box;
    letter-spacing: 2px;
    padding:10px 30px ;
    text-transform: uppercase;

}
.header__h1 {
    position: absolute;
    width: 578px;
    height: 86px;
    left: 431px;
    top: 257px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;
}
.btn_sign_up {
    font-family: Lato;
    cursor: pointer;
    font-size: 16px;
    color: #ED4C5C;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    background:white;
    box-sizing: border-box;
    letter-spacing: 2px;
    padding:10px 30px ;
    text-transform: uppercase;
    left: 640px;
    top: 545px;
    position: absolute;
}

.section_2{
    position: absolute;
    width: 99%;
    height: 500px;

    background: #FFFFFF;
}
.section_2_h2 {
    position: absolute;
    width: 445px;
    height: 107px;
    left: 165px;
    margin-top: 140px;

    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;

    color: #000000;
}
.section_2_p {
    position: absolute;
    width: 445px;
    height: 115px;
    left: 165px;
    top: 271px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;


    text-align: justify;

    color: #000000;
}
.section_2_a {
    position: absolute;
    width: 72px;
    height: 20px;
    left: 165px;
    top: 370px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;

    color: #ED4C5C;
}
.videoSection {
    position: absolute;
    width: 478px;
    height: 311px;
    left: 702px;
    top: 94px;
}
.section_3 {

    position: absolute;
    height: 560px;
    width: 99.9%;
    background: #FAFAFA;
    margin-top: 450px;
}
.header__text {
    position: absolute;
    width: 540px;
    height: 124px;
    left: 450px;
    top: 382px;

    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */

    text-align: center;

    color: #FFFFFF;

}

.section3__text__content {
    position: absolute;
    width: 1110px;
    height: 55px;
    left: 165px;
}

.section3__h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;


    color: #000000;

}

.section3_card {
    position: absolute;
    width: 350px;
    height: 250px;
    left: 165px;
    margin-top: 109px;
    background: url("img-icon/Money.png"), #FFFFFF;
    border-radius: 8px;
}

.section3_content {
    position: absolute;
    width: 293px;
    height: 198px;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 157px;
    margin-left: 28px;

}

.section3_content:hover {
    transform: translateY(-133px);
    opacity: 1;

}

.section3_content h4 {

    width: 229px;
    height: 40px;
    margin-left: 32px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #101010;
}

.section3_content p {
    width: 229px;
    height: 57px;
    margin-left: 32px;
    margin-top: 36px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #101010;
}

.section3_content a {

    font-family: Lato;
    margin-left: 115px;
    font-weight: bold;
    font-size: 12px;


    text-decoration: none;
    text-align: center;


    color: #ED4C5C;
}

.section3_card_two {
    margin-left: 545px;
    position: absolute;
    width: 350px;
    height: 250px;
    margin-top: 109px;
    background: url("img-icon/Phone .png"), #FFFFFF;
    border-radius: 8px;
}

.section3_card_three {
    margin-left: 925px;
    position: absolute;
    width: 350px;
    height: 250px;
    margin-top: 109px;
    background: url("img-icon/Room.png"), #FFFFFF;
    border-radius: 8px;
}

.section_4 {
    position: absolute;
    width: 99%;
    height: 500px;
    top: 1942px;

    background: #FFFFFF;
}

.section4__text__content {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;

    color: #000000;

}

.section4_container {
    position: absolute;
    width: 1110px;
    height: 226px;
    left: 165px;


}

.section4_first {
    width: 255px;
    height: 226px;
    background: white;
    left: 165px;
}

.section4_h1 {
    position: absolute;
    width: 117px;
    height: 120px;
    margin-left: 69px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 120px;
    margin-top: 10px;

    text-align: center;

    color: rgba(16, 16, 16, 0.08);
}

.section4_icon_1 {
    position: absolute;
    margin: 66px 83px;

}

.section4_text_h1 {
    position: absolute;
    width: 113px;
    height: 22px;
    margin: 139px 71px 56px 71px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #101010;
}

.section4_text_p {
    position: absolute;
    width: 191px;
    height: 51px;
    left: 34px;
    top: 171px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #000000;
}

.section4_second {
    width: 255px;
    height: 226px;
    background: white;
    margin-left: 250px;
    margin-top: -225px;

}

.section4_text_p_2 {
    position: absolute;
    width: 191px;
    height: 51px;
    margin-left: 34px;
    top: 171px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #000000;
}

.section4_icon_2 {
    position: absolute;
    margin: 66px 101px;
    width: 47px;
    height: 59px;


}

.section4_third {
    width: 255px;
    height: 226px;
    background: white;
    margin-left: 520px;
    margin-top: -225px;

}

.section4_text_p_3 {
    position: absolute;
    width: 191px;
    height: 51px;
    margin-left: 40px;
    top: 171px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #000000;
}

.section4_text_h5 {
    position: absolute;
    width: 122px;
    height: 22px;
    margin: 139px 71px 56px 71px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;


    text-align: center;

    color: #101010;
}

.section4_text_p_4 {
    position: absolute;
    width: 191px;
    height: 51px;
    margin-left: 46px;
    top: 171px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #000000;
}

.section4_thous {
    width: 255px;
    height: 226px;
    background: white;
    margin-left: 785px;
    margin-top: -225px;
}

.section_5 {
    position: absolute;
    width: 99%;
    height: 500px;
    top: 2442px;

    background: #ED4C5C;
}

.section5__h1 {
    position: absolute;
    width: 445px;
    height: 107px;
    left: 165px;
    margin-top: 122px;

    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;

    color: #FFFFFF
}

.section5__text {
    position: absolute;
    width: 445px;
    height: 64px;
    left: 165px;
    margin-top: 253px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;


    text-align: justify;

    color: #FFFFFF;

}

.play {
    position: absolute;
    width: 134px;
    height: 32px;
    left: 163px;
    top: 357px;
}

.carousel {
    align-items: center;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 445px;
    margin-left: 735px;
    margin-top: 94px;
}

.carousel__images {
    display: flex;
    transform: translateX(0);
    transition: transform 0.25s;
}

.carousel__images img {
    border-radius: 5px;
}

.carousel__button {
    background: teal;
    border: 0;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    opacity: 0.25;
    position: absolute;
    transition: opacity 0.25s;
    width: 3rem;
    z-index: 1;
}

.carousel__button.previous {
    left: 5px;
}

.carousel__button.next {
    right: 5px;
}

.carousel__button:hover {
    opacity: 0.5;
}

.section_6 {
    position: absolute;
    width: 99%;
    left: 0px;
    top: 2942px;

    background: #FFFFFF;
}

.section_6_text {

    position: absolute;
    width: 445px;
    height: 107px;
    left: 176px;
    top: 117px;

    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;

    color: #000000;
}

.section_6_p {
    position: absolute;
    width: 434px;
    height: 64px;
    left: 176px;
    top: 213px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */

    text-align: justify;

    color: #000000;

}
.form_wrap {
    position: absolute;
    width: 540px;
    height: 305px;
    left: 735px;
    top:117px;
}

    .input_wrap input {
        margin-bottom: 24px;
        padding: 10px;
        width: 255px;
        height: 60px;
        border: 1px solid #333333;
        box-sizing: border-box;
        border-radius: 6px;
    }
.input_grp_second .input_wrap input{
    padding: 10px;
    width: 255px;
    height: 60px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    margin-left: 290px;

}
.hundred {
    padding: 10px;
    width: 255px;
    height: 60px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
}
.second_div {
    margin-top: -230px;
}


.container{
    max-width: 1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
    margin-top: 2600px;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

@media (max-width: 584px) {
    .container {
        max-width: 100%;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .category {
        width: 100%;
    }

    .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}
@media (max-width: 459px) {
    .container .content .category {
        flex-direction: column;
    }
}
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}
